* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}

body {
  background: #323232;
}

.title {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  background: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
  margin-bottom: -4px;
}

.navbar a:hover:before {
  margin-bottom: -4px;
  width: 100%;
}

.container {
  background-color: #323232;
  height: 360px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.intro {
  width: 65%;
  padding: 24px 100px;
  background-color: #323232;
  margin: auto;
}

.intro h4 {
  color: #fff;
  margin-bottom: 12px;
  font-weight: 100;
  font-size: 16px;
}

.intro h1 {
  color: #fff;
  font-size: 66px;
}

.intro h3 {
  color: #fff;
  margin-top: 16px;
  font-weight: 100;
  font-size: 18px;
}

.email {
  display: inline-block;
  background-color: #fff;
  border-radius: 6px;
  padding: 4px 12px;
  margin-top: 20px;
}

.email a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

.graphics {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
}

.image {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  overflow: hidden;
}

.image img {
  height: 100%;
  width: 100%;
}
